<!DOCTYPE html>
<html lang="en" ng-app="mobilexpress">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WardConnect</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/ward.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-controller="wardctrl">
    <header>
        <nav>
        <ul class="nav_links">
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./ward.html">WARDS</a></li>
            <li><a href="./explore.html">EXPLORE</a></li>
            <li><a href="./report.html">REPORT</a></li>
            <li><a href="./login.html" ng-if="!username">LOGIN</a></li>
        </ul>
        </nav>
        <a href="./signup.html" class="nav_button" ng-if="!username"><button>SIGN UP</button></a>
        <a href="./index.html" class="nav_button" ng-if="username"><button>{{username | uppercase}}</button></a>
    </header>

    <div>
        <div class="product-list-container">
            <div class="filter-section">
                <p class="filter-title">Filter by Zone</p>
                <div class="filter-data">
                    <select class="filter-dropdown" ng-model="selectedZone">
                        <option value="">All Zones</option>
                        <option ng-repeat="zone in zones" value="{{zone}}">{{zone}}</option>
                    </select>
                </div>
        
                <p class="filter-title">Filter by Ward Number</p>
                <div class="filter-data">
                    <label><input type="radio" name="wardRange" ng-model="selectedWardRange" value="lt20"> &lt; 20</label>
                    <label><input type="radio" name="wardRange" ng-model="selectedWardRange" value="21-40"> 21 - 40</label>
                    <label><input type="radio" name="wardRange" ng-model="selectedWardRange" value="41-60"> 41 - 60</label>
                    <label><input type="radio" name="wardRange" ng-model="selectedWardRange" value="61-80"> 61 - 80</label>
                    <label><input type="radio" name="wardRange" ng-model="selectedWardRange" value="gt80"> &gt; 80</label>
                </div>
        
                <p class="filter-title">Sort by Ward Population</p>
                <div class="filter-data">
                    <label><input type="radio" ng-model="sortBy" value="default"> Default</label>
                    <label><input type="radio" ng-model="sortBy" value="lowToHigh"> Low to High</label>
                    <label><input type="radio" ng-model="sortBy" value="highToLow"> High to Low</label>
                </div>
            </div>
        
            <h1 class="product-header">Madurai Wards</h1>
            <div class="products-container">
                <div class="product-cards">
                    <div ng-repeat="ward in filteredWards | filter: selectedZone">
                        <ward ward="ward"></ward>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.8.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.2/angular-animate.min.js"></script>
    <script type="module" src="./js/wardcontroller.js"></script>
</body>
</html>